@import 'colors';
@import 'layout';

@if $UIRefresh2022 {
  .quadrant-subnav {
    font-size: 1.125rem;
    width: 100%;
    background-color: $mist;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
    min-height: $subnavHeight;

    @include media-query-xlarge {
      flex-direction: row;
      justify-content: center;
      height: $subnavHeight;
      font-size: 1.25rem;
    }

    &.sticky {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999;
    }

    &__list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0;
      padding: 0;
      overflow-x: auto;
      list-style-type: none;


      &.show {
      flex-direction: row;
      }

      &-item {
        width: unset;
        min-height: $subnavHeight;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        height: 100%;
        box-sizing: border-box;
        font-size: 16px;
        border: none;

        @include media-query-xlarge {
          max-width: 20% !important;
          &.active-item {
            padding-top: 4px;
            border-bottom: 4px solid transparent;
            pointer-events: none;
            font-weight: bold;
            transition: font-weight 0.3s ease-in-out;

            &:nth-child(1) {
              border-color: $mist-s30;
            }

            &:nth-child(2) {
              border-color: $sapphire;
            }

            &:nth-child(3) {
              border-color: $turmeric;
            }

            &:nth-child(4) {
              border-color: $jade;
            }

            &:nth-child(5) {
              border-color: $flamingo;
            }
          }
        }

        &__button {
          text-decoration: none;
          border: none;
          font: inherit;
          cursor: pointer;
          background-color: $mist;

          padding: 15px 20px;
          margin: 0 1px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          
          @include media-query-xlarge {
            padding: 15px 40px;
          }
        }
      }

      @include media-query-xlarge {
        height: 100%;

        &-item {
          min-height: unset;

          &:not(.active-item):hover {
            color: $flamingo-s40;
            text-decoration: underline;
            text-underline-offset: 6px;

            & > * {
              color: $flamingo-s40;
            }
          }
        }
      }
    }
  }
}
